<div style="margin-top: 40px; " >
<nz-spin [nzSpinning]="isSpinning" [nzSize]="'large'" nzTip="Cargando" >
  <div class="parent" >
    <div class="child" style=" border: 11px solid rgb(52, 51, 51);">
        <div nz-row class="imgDiv">
            <h2 style="margin-left: 120px;">Editar Bike</h2>
        </div>

        <form nzForm [formGroup]="updateForm">
        <div nz-row>
          <div class="file-upload-container">
            <label  class="file-upload-label">
                <span style="margin-left: 100px;">Selecciona Archivo</span>
                <input type="file" nz-button nzType="primary" accept="image/x-png,image/gif,image/jpeg,image/jpg"
                (change)="onFileSelected($event)">
            </label>

            <div class="image-preview" *ngIf="imagePreview">
             <div class="circle-image">
                <img [src]="imagePreview" alt="bikePic" class="preview-image">
             </div>
            </div>

            <div class="image-preview" *ngIf="existingImage">
               <div class="circle-image">
                <img [src]="existingImage" alt="imagen bike" class="preview-image">
               </div>
            </div>
          </div>
          <div nz-col nzSpan="24">
              <nz-form-item>
                <nz-form-control nzHasFeedback [nzXs]="24" nzErrorTip="Campo requerido">
                  <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Selecciona marca"
                  formControlName="brand">
                    <nz-option *ngFor="let brand of listOfBrands" nzLabel="{{ brand }}"
                    nzValue="{{ brand }}"></nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
          </div>
          <div nz-col nzSpan="24">
            <nz-form-item>
              <nz-form-control nzHasFeedback [nzXs]="24" nzErrorTip="Campo requerido">
               <input nz-input placeholder="Nombre" formControlName="name">
              </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col nzSpan="24">
            <nz-form-item>
              <nz-form-control nzHasFeedback [nzXs]="24" nzErrorTip="Campo requerido">
                <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Selecciona tipo"
                formControlName="type">
                  <nz-option *ngFor="let type of listOfType" nzLabel="{{ type }}"
                  nzValue="{{ type }}"></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col nzSpan="24">
            <nz-form-item>
              <nz-form-control nzHasFeedback [nzXs]="24" nzErrorTip="Campo requerido">
                <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Selecciona Transmision"
                formControlName="type">
                  <nz-option *ngFor="let transmision of listOfTransmision" nzLabel="{{ transmision }}"
                  nzValue="{{ transmision }}"></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col nzSpan="24">
            <nz-form-item>
              <nz-form-control nzHasFeedback [nzXs]="24" nzErrorTip="Campo requerido">
               <input nz-input placeholder="Precio" formControlName="precio" type="number">
              </nz-form-control>
            </nz-form-item>
        </div>
        </div>
        <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'" (click)="updateBike()">Editar</button>
      
    </form>
    </div>
  </div>
</nz-spin>
</div>
