<h1>Disfruta de la naturaleza en la Sierra de Huelva</h1>

  <div class="two-column-container">
    <div class="column column1">
      <h2>Unete a nuestro club ciclista</h2> 
  <br>
  <hr>
     Si te unes a nuestro club, estaras informado de todas nuestras salidas para entrenar,
     Entraras en nuestro grupo de <b>Whatsapp</b> donde podras estar informado de horarios y rutas, asi como descuentos en nuestros servicios.

  <br><br>

    </div>
    <br><br>
    
    <div class="column2">
     <div class="form-container">
      
      <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">       
        <img src="../../../assets/wasap.png" alt="wasap" style="width: 64px;height: 64px;">
       <br><br><br>
        <nz-form-item>
        
        <nz-form-control nzErrorTip="por favor introduce tu username!">
          <nz-input-group nzPrefixIcon="user">
           
            <input formControlName="userName" nz-input placeholder="Username" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzErrorTip="Por favor introduce tu email!">
          <nz-input-group nzPrefixIcon="lock">
           
            <input formControlName="email" nz-input type="email" placeholder="Email" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      
      <nz-form-item>
        <nz-form-control nzErrorTip="Introduce 9 numeros!">
          <nz-input-group nzPrefixIcon="lock">
            <input formControlName="phoneNumber" nz-input type="text" placeholder="Telefono" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <br>
      <nz-form-item>
        <nz-form-control>
          <button nz-button nzType="primary" [disabled]="!validateForm.valid">Log in</button> 
         
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>
    </div>
  </div>  
<br>


<div class="contenedor2">
  <div class="columna2">
    <img src="../assets/club.jpg" alt="logobici" id="foto2">
  </div>
  <div class="columna21">
    <h2>Ventajas de ser miembro de nuestro club</h2>
    <br>
    <hr>
    Cuando te inscribas en nuestro club recibiras noticias de eventos, carreras, rutas y noticias relacionadas 
    con el ciclismo en la sierrade Aracena.Tambien disfrutaras de descuentos en el alquiler de nuestras bicicletas y mucho mas....
      <br><br>
      <button routerLink="/contacto" routerLinkActive="active" class="boton-reservar"> Mas informacion...</button>

  </div>
</div>



<div class="contenedor3">
  <div class="columna3">
    <h2>Repuestos y accesorios</h2>
    <br>
    <hr>
    ¿Estás con tu bici por aquí y te ha surgido un problema?
     ¡Estamos aquí para ayudarte! Es verdad que no somos una de esas grandes tiendas de bicis, 
     pero tenemos lo básico tanto para bicicletas de montaña como de carretera, 
     por si acaso te hace falta: cámaras, cubiertas, cadenas, eslabones rápidos, cables de cambio y de freno, multiherramientas, 
     desmontables, etc.
      <br><br>
   
  
  </div>
  <div class="columna31">
    <img src="../assets/mejores-accesorios-bicicleta.jpeg" alt="logobici" id="foto2">  

  </div>
</div>

  <br><br><br>


