<h1>Disfruta de la naturaleza en la sierra de Huelva</h1>

  <div class="two-column-container">
    <div class="column column1">
      <h2>Alquiler de Bicicletas en Aracena</h2>
  <br>
  <hr>
      Descubre la calidad de nuestras bicicletas Orbea. Tenemos bicicletas de carretera, 
      montaña y bicicletas eléctricas (e-bikes). Si tiene una petición especial, 
      una bici que no aparece en la web o si busca alquiler de bicicletas para un grupo grande,
       envíenos un mensaje e intentaremos hacer realidad tus deseos.
  <br><br>
  <button routerLink="/login" routerLinkActive="active" class="boton-reservar"> Reservar</button>
    </div>
    <br><br>
    <div class="column2">
        <img src="../assets/aracena.jpg" alt="logobici" style="height:450px">
    </div>
  </div>  
<br>
<div class="contenedor2">
  <div class="columna2">
    <img src="../assets/grupo.jpg" alt="logobici" id="foto2">
  </div>
  <div class="columna21">
    <h2>Rutas en bici y salidas con guía</h2>
    <br>
    <hr>
     Explora la sierra de Aracena  y su entorno en bici, 
      descubre la belleza de los Pueblos Blancos de Andalucía. 
      Puedes seguir las rutas que ya tenemos preparadas o, si lo prefieres, 
      te podemos guiar nosotros por las tranquilas carreteras y los carriles y senderos de la zona. ¡Tú eliges!
      <br><br>
      <button routerLink="/contacto" routerLinkActive="active" class="boton-reservar"> Mas informacion...</button>

  </div>
</div>



<div class="contenedor3">
  <div class="columna3">
    <h2>Repuestos y accesorios</h2>
    <br>
    <hr>
    ¿Estás con tu bici por aquí y te ha surgido un problema?
     ¡Estamos aquí para ayudarte! Es verdad que no somos una de esas grandes tiendas de bicis, 
     pero tenemos lo básico tanto para bicicletas de montaña como de carretera, 
     por si acaso te hace falta: cámaras, cubiertas, cadenas, eslabones rápidos, cables de cambio y de freno, multiherramientas, 
     desmontables, etc.
      <br><br>
   
  
  </div>
  <div class="columna31">
    <img src="../assets/mejores-accesorios-bicicleta.jpeg" alt="logobici" id="foto2">  

  </div>
</div>

  <br><br><br>


