<div style="background-color:#a7c3ab; min-height: 91vh;">

    <div style="padding-top: 10px;" ></div>
    
    <h1 style="text-align: center;margin-top: 20px;margin-bottom: 40px;"><b> Bicicletas disponibles</b></h1><br><br>
    <div style="margin-top: 10px; display: grid; grid-template-columns: repeat(5, 1fr);margin-left:140px;">
    <div style="margin-top: 10px;border:1px;margin-right:8px " class="child" *ngFor="let bike of bikes">
        <nz-card nzHoverable style="width:240px;height:260px" [nzCover]="coverTemplate">
            <nz-card-meta nzTitle="{{bike.brand}} - {{ bike.name }}  - {{bike.precio }}€" nzDescription="{{ bike.transmision }}- {{ bike.type }}">
            </nz-card-meta>
          </nz-card><br>
          <ng-template #coverTemplate>
            <img [src]="bike.processedImg" alt="bike" class="profile" />
          </ng-template> 
          <div>
            <div style="margin-left:4px;">
              <b style="color:black">Acciones :</b> 
                <button style="margin-left: 10px;" nzSize="small" nz-button nzType="primary" routerLink="/admin/bike/{{ bike.id }}">Editar</button>  
             <button style="margin-left: 10px;" nzSize="small" nz-button nzType="primary" nzDanger (click)="deleteBike(bike.id)">Borrar</button>  
                     
         </div>
            </div> <hr style="border-top: 3px solid black;margin-right:30px;"> <br><br>
       </div>
   
</div>
