 <div *ngIf="!isAdminLoggedIn && !isCustomerloggedIn">
  <nz-header class="main-header" nz-row nzType="flex" class="custom-navbar" style="height:100px;background: linear-gradient(to right, #141616, #789a78);">
   
    <div class="navbar-title" style="margin-top:23px">     
      <a routerLink="/login">
       Inicio
      </a>
    </div>
    <div class="nav-links">
      <a nz-button nzType="link" routerLink="/register" routerLinkActive="active">Sign Up</a>
      <a nz-button nzType="link" routerLink="/login" routerLinkActive="active">Login</a>
    </div>
  </nz-header>
</div>
<div *ngIf="isAdminLoggedIn">
  <nz-header class="main-header" nz-row nzType="flex" class="custom-navbar" style="height:100px;background-color:#43977e;">
    <div class="navbar-title">     
      <a routerLink="/login"> Admin 
      </a>
    </div>
    <div class="nav-links">
      <a nz-button nzType="link" routerLink="/admin/dashboard" routerLinkActive="active">Catálogo de Bikes</a>
      <a nz-button nzType="link" routerLink="/admin/bookings" routerLinkActive="active">Reservas</a>
      <a nz-button nzType="link" routerLink="/admin/search" routerLinkActive="active">Buscar Bikes</a>
      <a nz-button nzType="link" routerLink="/admin/bike" routerLinkActive="active">Añadir Bike</a>
      <a nz-button nzType="link"   (click)="logout()" routerLinkActive="active">Logout</a>
    </div>
  </nz-header>
</div>
<div *ngIf="isCustomerloggedIn">
  <nz-header class="main-header" nz-row nzType="flex" class="custom-navbar" style="height:100px;background-color:#43977e;">
    <div class="navbar-title">     
      <a routerLink="/login"> Customer
        <img src="assets/LogoBici.png" alt="logo bicicleta" class="logo">
      </a>
    </div>
    <div class="nav-links">
      <a nz-button nzType="link" routerLink="/customer/dashboard" routerLinkActive="active">Catálogo de Bikes</a>
      <a nz-button nzType="link" routerLink="/customer/bike/search" routerLinkActive="active">Buscar bikes</a>
      <a nz-button nzType="link" routerLink="/customer/my_bookings" routerLinkActive="active">Mis Reservas</a>
      <a nz-button nzType="link"  (click)="logout()" routerLinkActive="active">Logout</a>
    </div>
  </nz-header>
</div> 


<router-outlet></router-outlet>