 <!--NoOne logged-->
 <div *ngIf="!isAdminLoggedIn && !isCustomerloggedIn" class="fixed">
  <nz-header class="main-header" nz-row nzType="flex" class="custom-navbar" style="height:100px;background:white">
   
    <div class="navbar-title" style="margin-top:23px">     
      <a routerLink="/">
       <img src="assets/casa.png" alt="casa" >
      </a>
      
  </div>
  <div class="services">
    <a nz-button nzType="link" routerLink="/dashboard" routerLinkActive="active" style="color:black"><b>Catalogo de Bikes</b> </a>
    <a nz-button nzType="link" routerLink="/servicios" routerLinkActive="active" style="color:black"><b>Servicios</b> </a>
    <a nz-button nzType="link" routerLink="/puntoEncuentro" routerLinkActive="active" style="color:black"><b>Punto de encuentro</b> </a>
    <a nz-button nzType="link" routerLink="/contacto" routerLinkActive="active" style="color:black"><b>Contacto</b> </a>
     </div>
    <div class="nav-links">
     
      <a nz-button nzType="link" routerLink="/register" routerLinkActive="active" style="color:black"><b>Sign Up</b> </a>
      <a nz-button nzType="link" routerLink="/login" routerLinkActive="active" style="color:black"><b>Login</b> </a>
    </div>
  </nz-header>
</div>

<!--Admin logged-->
<div *ngIf="isAdminLoggedIn" class="fixed">
  <nz-header class="main-header" nz-row nzType="flex" class="custom-navbar" style="height:100px;background-color:white;">
    <div class="navbar-title">     
      <a routerLink="/"> <img src="assets/admin.png" alt="admin">
      </a><b>Admin</b> 
    </div>
    <div class="nav-links" >
      <a style="color:black" nz-button nzType="link" routerLink="/admin/dashboard" routerLinkActive="active"><b>Catálogo de Bikes</b> </a>
      <a style="color:black" nz-button nzType="link" routerLink="/admin/bookings" routerLinkActive="active"><b>Reservas</b></a>
      <a  style="color:black" nz-button nzType="link" routerLink="/admin/search" routerLinkActive="active"><b>Mensajes de Contacto</b></a>
      <a style="color:black" nz-button nzType="link" routerLink="/admin/bike" routerLinkActive="active"><b>Añadir Bikes</b></a>
      <a style="color:black" nz-button nzType="link"   (click)="logout()" routerLinkActive="active"><img src="assets/logout.png" alt="logout" style="height: inherit;"></a>
    </div>
  </nz-header>
</div>

<!--Customer logged-->
<div *ngIf="isCustomerloggedIn" class="fixed">
  <nz-header class="main-header" nz-row nzType="flex" class="custom-navbar" style="height:100px;background-color:white;">
    <div class="navbar-title">     
      <a routerLink="/"><img src="assets/customer.png" alt="admin"><b style="color:black;">Customer</b>
        
      </a>
    </div>
    <div class="nav-links">
      <a nz-button nzType="link" routerLink="/customer/dashboard" routerLinkActive="active" style="color:black;"><b>Catálogo de Bikes</b></a>
      <a nz-button nzType="link" routerLink="/customer/bike/search" routerLinkActive="active" style="color:black;"><b>Unete a nuestro club</b></a>
      <a nz-button nzType="link" routerLink="/customer/my_bookings" routerLinkActive="active" style="color:black;"><b>Mis Reservas</b> </a>
      <a nz-button nzType="link"  (click)="logout()" routerLinkActive="active"><img src="assets/logout.png" alt="logout" style="height: inherit;"></a>
    </div>
  </nz-header>
</div> 


<router-outlet></router-outlet>
<footer class="footer">

  <div class="iconos">
 <img src="../assets/icons8-facebook-nuevo-40.png" alt="fotfacebook" class="icon" style="margin-right:10px;">
    <img src="../assets/icons8-instagram-40.png" alt="fotfacebook" class="icon">
  </div>


<div class="enlaces">
<p>© 2018 Aracena Cycling Adventures. All Rights Reserved. Aracena Cycling Adventures® is a registered trademark.</p> &nbsp;&nbsp;
   <a href="">Politica de cookies</a>&nbsp;&nbsp;
   <a href="">Aviso legal</a>&nbsp;
</div>

</footer>