<div style="background-color: #F8F8F8;display: flex;">
    <!-- Primera columna -->
    <div style="flex: 1;margin-left:130px;">
        <div style="padding-top: 10px;"></div>

        <div style="margin-top: 31px;" class="child">
            <div nz-row style="margin-left:50px;">
                <div nz-col nzSpan="8">
                    <img [src]="processedImage" alt="bike" class="profile" style="height: 130px;width: 200px;border-radius: 10px;">
                </div>
            </div>
            <div nz-col nzSpan="16" style="margin-left:45px;margin-top:15px">
                <h2 style="cursor: pointer;color: #108ee9;">
                    {{bike.brand}} - {{ bike.name }} - {{ bike.type }}
                </h2>


                <hr>
                <h5>Precio : <b>${{ bike.precio }}</b> - Transmision :
                    <b>{{ bike.transmision }}</b>
                </h5>
                <hr><br><br><br>
                <button class="filterBtn"
                style="margin-left: 50px; background-color:black; color: white;"
                nz-button
                (click)="bookBike(validateForm.value)" id="button">
            Reservar Bike</button>
            </div>
        </div>
    </div>

  


    <!-- Segunda columna -->
    <div style="flex: 1; margin-left: 80px;">
    <div class="paypalCard" >
        <nz-spin [nzSpinning]="isSpinning" [nzSize]="'large'" nzTip="Cargando.." style="margin-top: 50px;">
            <div class="dashboard-filter">
                <form [formGroup]="validateForm">
                    <div class="filter-grid">
                        <div class="filter-select-dropdown filter-fields-width">

                            <nz-form-item style="margin-left: 30px;">
                                <nz-form-label [nzSpan]="0" nzFor="From Date"><b>Desde</b></nz-form-label>
                                <nz-form-control [nzSpan]="0">
                                    <nz-date-picker formControlName="fromDate" style="width: 75%;"
                                                    nzPlaceHolder="Desde...." name="From Date" [nzFormat]="dateFormat"
                                                    id="From Date">
                                    </nz-date-picker>
                                </nz-form-control>
                            </nz-form-item>

                            <nz-form-item style="margin-left: 30px;">
                                <nz-form-label nzFor="To Date" [nzSpan]="0"><b>Hasta</b></nz-form-label>
                                <nz-form-control [nzSpan]="0">
                                    <nz-date-picker formControlName="toDate" style="width: 75%;"
                                                    nzPlaceHolder="Hasta...." name="To Date" [nzFormat]="dateFormat"
                                                    id="To Date">
                                    </nz-date-picker>
                                </nz-form-control>
                            </nz-form-item>

                        </div>

                        <div class="filter-select-dropdown filter-fields-width">
                            <ngx-paypal [config]="payPalConfig" > </ngx-paypal>

                        </div>
                    </div>
                
                </form>
            </div>
        </nz-spin>
    </div></div>
</div>

<script type="text/javascript"
  src="https://cdn.jsdelivr.net/npm/@emailjs/browser@4/dist/email.min.js"></script>

<script type="text/javascript">
  emailjs.init('2YrRdbgf1nC-cIxVd')
</script>

<script>
    const btn = document.getElementById('button');

   btn .addEventListener('submit', function(event) {
   event.preventDefault();

   btn.value = 'Enviando mail de confirmacion...';

   const serviceID = 'default_service';
   const templateID = 'template_d2h3ibo';

   emailjs.sendForm(serviceID, templateID, this)
    .then(() => {
      btn.value = 'Reservar';
      alert('Sent!');
    }, (err) => {
      btn.value = 'Send Email';
      alert(JSON.stringify(err));
    });
});
</script>
