

body {
    background-color:#E1F2E3;
    font-family:Arial, sans-serif;
}

img{
    width:400px;
    height:400px;
    margin-top:100px;
}

h1{
    color:green;
    text-align:center;
    margin-top:30px;
    font-size:45px;
}

h2{
    color:green;
}

.two-column-container {
    display: flex; /* Usamos flexbox para crear las columnas */
    text-align:center;
    width:90%;
    height:60px;
    margin-left:50px
}

.column {
    flex: 1; /* Cada columna ocupará el mismo ancho */
    padding: 10px; /* Añadimos un poco de espacio entre el borde y el contenido */
    text-align:center;
    font-weight:20px;
    
}

.column1{
    margin-top:100px;
    margin-left:50px;
    margin-right:250px;
    font-size:20px;
    width:720px
}

.column2{
    margin-right:80px
}


/*fila 2 */
.contenedor2{
    display:flex;
    margin-top:400px;
}
.columna2{
margin-left:120px
}

.columna21{
margin-left:120px;
margin-top:120px;

font-size:20px;
}



/*fila 3*/
.contenedor3{
    display:flex;
    margin-top:100px;
}

.columna3{
    margin-left:120px;
    font-weight:20px;
    font-size:20px;
}

.columna31{
    margin-left:300px;
    margin-right:40px;
    
}


 


  