<h1>Servicios</h1>

<!--Fila 1-->
<div class="two-column-container">
  <div class="column column1">
    <h2>Rutas guiadas exclusivas</h2>
<br>
<hr>
  Cuando elijas hacer una ruta guiada con uno de los 
  guías experimentados de Grazalema Cycling Adventures todo es posible. 
  Puedes usar tu propia bicicleta o alquilar una bici de montaña, de carretera o eléctrica en nuestra tienda de 
  ciclismo en el centro de Grazalema (Andalucía). Las rutas guiadas son privadas, lo que quiere decir que el
   guía estará para ti y tu pareja, familia, amigos o compañeros solamente y que no tendréis que adaptaros a 
   otras personas. Por ello, la elección entre los tipos de ruta y bicicletas es tuya, mientras tú estés feliz, 
   nosotros también lo estaremos.
<br><br>

  </div>
  <br><br>


  
  <div class="column2">
      <img src="../assets/servicios2.jpg" alt="logobici">
  </div>
</div>  
<hr>
<br><br>
<div class="contenedor2">
  
  <div class="columna21">
    <h3 style="margin-left:200px">Precios</h3>
    <hr style="width:200px">
    <br>
    <nz-table >
      <thead>
        <tr>
          <th>
            Duracion
          </th>
          <th >
           1-2 personas
          </th>
          <th>
            3-4 personas
          </th>
          <th>
            +5 personas
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Hasta 3 horas</td>
          <td>70€</td>
          <td>85€</td>
          <td>100€</td>
        </tr>
        <tr>
          <td>Hasta 4 horas</td>
          <td>90€</td>
          <td>110€</td>
          <td>130€</td>
        </tr>
        <tr>
          <td>Mas de 4 horas</td>
          <td>130€</td>
          <td>160€</td>
          <td>170€</td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>

<div class="contenedor3">
  <div class="columna3">
    <h2>Dispositivos Gps Garmin</h2>
    ¿Prefieres no tener que parar en los cruces? 
      ¿O quieres hacer una ruta con la bici de montaña para la que es imposible hacer un 
      libro de ruta? Entonces puede ser una buena idea alquilar uno de nuestros ciclocomputadores 
      Bryton Rider 450 con navegación. Con esta bonita pieza de tecnología ya no tienes que fijarte en mapas o 
      libros de ruta. Gracias a las rutas precargadas simplemente puedes seguir la ruta desde la pantalla del dispositivo.
  <br><br>  
      <h3 style="margin-left:200px">Precios</h3>
    <hr style="width:200px;margin-left:140px">
  <nz-table >
    <thead>
      <tr>
        
        <th >
         1 dia
        </th>
        <th>
          2 dias
        </th>
        <th>
          3 dias
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
       
        <td>70€</td>
        <td>85€</td>
        <td>100€</td>
      </tr>
      <tr>
        
        <td>90€</td>
        <td>110€</td>
        <td>130€</td>
      </tr>
      <tr>
       
        <td>130€</td>
        <td>160€</td>
        <td>170€</td>
      </tr>
    </tbody>
  </nz-table>
</div>
  <div class="columna31">
    <img src="../assets/garming.jpg" alt="logobici" id="foto2" style="width:400px ;height:400px;">  

  </div>



