
   <h1>Contacta con nosotros</h1>
   <hr>
   <form class="form" [formGroup]="validateForm" (ngSubmit)="onSubmit()">
      <h2>CONTÁCTANOS</h2>
      <p type="Name:"><input placeholder="Escriba su nombre aqui.." formControlName="nombre" ></p>
      <p type="Email:"><input placeholder="Email.." formControlName="email" ></p>
      <p type="Message:"><input placeholder="Que te gustaia reguntarnos.." formControlName="mensaje" ></p>
      <button >Enviar mensaje</button>
     
    </form>
          <div class="mapa">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12594.563416396491!2d-6.576906296452565!3d37.89208093512668!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd117a107a854cb1%3A0x1038bf2e03c4510c!2s21200%20Aracena%2C%20Huelva!5e0!3m2!1ses!2ses!4v1713368053059!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
         </div>
